@mixin text-truncate($max-width: none) {
    @if $max-width != none {
        max-width: $max-width;
    }

    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin text-multi-truncate($selected-line) {
    display: -webkit-box;
    white-space: pre-wrap;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $selected-line;
}

@mixin input-placeholder {
    &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &::-webkit-input-placeholder {
        @content;
    }
}
